@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:regular,600);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Inspiration:regular);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-width: 320px;
}

body {
    line-height: 1;
    font-family: Lato, sans-serif;
    color: #683c25;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
a:hover{
    text-decoration: underline;
}

h2{
    font-family: Roboto Slab, sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1230px;
    /* збільшення на 30px, враховуючи padding справа та зліва*/
    margin: 0 auto;
    padding: 0px 15px;
} 
.title{
    font-family: Roboto Slab,
    sans-serif;
    color: #683c25;
    text-align: center;
    font-size: 44px;
    line-height: 1;
    font-weight: 600;
}
/* header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header__container {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    gap: 600px;
    align-items: center;
    min-height: 152px;
} 
@media (max-width: 991.98px){
    .header__container {
        gap: 350px;
    }
}
@media (max-width: 767.98px){
    .header__container {
        gap: 160px;
    }
}
@media (max-width: 479.98px) {
    .header__container {
        gap: 100px;
    }
}

.logo {
    font-family: Inspiration;
    font-size: 46px;
}

.menu {
    padding: 10px 15px 10px 0px;
}
.menu__list{
    display: flex;
    column-gap: 56px;
    row-gap: 10px;
    flex-wrap: wrap;
}

/* main */
.page__main{
        padding-top: 200px;
        padding-bottom: 152px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%),
        url('./images/main-background.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
}
.main__content{
        width: 100%;
        max-width: 1288px;
        padding: 0 24px 0 148px;
}
@media (max-width: 767.98px) {
    .main__content {
        padding: 0 15px 0 15px;
    }
}
@media (max-width: 479.98px){
    .main__content {
        padding: 0 15px 0 15px;
    }
}
.main__title{
    color: #fef7ee;
    font-family: Roboto Slab, sans-serif;
    font-weight: 600;
    margin-bottom: 48px;
    font-size: 60px;
    line-height: 1;
}
@media (max-width: 479.98px) {
    .main__title{
        font-size: 46px;
    }
}

/* Advantages */
.advantages {
    background-color: #fef7ee;
    padding-top: 90px;
    padding-bottom: 90px;
}

.advantages__container {}

.advantages__title {
    margin-bottom: 35px;
    margin-left: 60px;
}

.advantages__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 30px;
}

.advantages__item {}

.item-advantages {
    display: grid;
    justify-items: center;
    padding: 40px;
    text-align: center;
}

.item-advantages__icon {
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.item-advantages__icon:not(:last-child) {
    margin-bottom: 40px;
}

.item-advantages__title {

}

.item-advantages__title:not(:last-child) {
    margin-bottom: 12px;
}

.item-advantages__text {
    font-size: 14px;
    line-height: 1.5;
}

@media (max-width: 991.98px) {
    .advantages {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .advantages__title {
    margin-left: 0px;
    }
    .advantages__items {
        grid-template-columns: repeat(2, auto);
    }
    
}

@media (max-width: 767.98px) {
    .item-advantages {
        padding: 20px;
    }

    .advantages__items {
        justify-content: stretch;
        grid-template-columns: repeat(1, auto);
    }
}

/* footer */
.footer {
    background: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer__container {}

.footer__body {}

.body-footer {
    display: flex;
    gap: 50px;
}

.body-footer__column {}

.body-footer__column_full {
    flex: 1 1 auto;
}

.body-footer__logo {
    display: flex;
    color: #683c25;
    align-items: center;
}

.body-footer__contacts {}

.contacts-footer {}

.contacts-footer__item {}

.contacts-footer__item:not(:last-child) {
    margin-bottom: 20px;
}

.contacts-footer__link {
    color: #683c25;
    display: inline-block;
    line-height: 24px;
}

.contacts-footer__link:hover {
    text-decoration: underline;
}

.body-footer__menu {}

.menu-footer {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.menu-footer__column {}

.menu-footer__title {
    text-transform: uppercase;
    color: #683c25;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 20px;
}

.menu-footer__list {
}

.menu-footer__item {

}
.item-ref{
    color: #683c25;
}
.menu-footer__item:not(:last-child) {
    margin-bottom: 16px;
}

.menu-footer__link {
    color: #683c25;
}

.menu-footer__link:hover {
    text-decoration: underline;
}

.body-footer__social {}

.social-footer {}

.social-footer__title {
    text-transform: uppercase;
    color: #683c25;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    margin-bottom: 12px;
}

.social-footer__items {
    display: flex;
    gap: 6px;
    align-items: center;
}

.social-footer__item {}

.footer__copy {
    padding-top: 80px;
    text-align: center;
}
@media (max-width: 991.98px) {
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .body-footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .body-footer__column:first-child {
        flex: 1 1 100%;
    }

    .body-footer__column_full {
        flex: 0 1 50%;
    }

    .menu-footer {
        display: flex;
        gap: 50px;
        justify-content: space-between;
    }
}

@media (max-width: 767.98px) {
    .footer__copy {
        padding-top: 50px;
    }
}

/* GALLERY */
.gallery{
    padding-top: 152px;
}
.gallery-header{

}

.gallery-ref{
    color: #683c25;
}

.gallery-logo{
    color: #683c25;
}

.gallery__title{
    margin-bottom: 40px;
    font-size: 44px;
}
.gallery_text{
    margin-bottom: 40px;
}

.gallery__container{
    display: flex;
    gap: 40px;
       
}
@media (max-width: 1249.98px) {
    .gallery__container {
        flex-wrap: wrap;
    }
}
@media (max-width: 991.98px){
    .gallery__container {
        flex-wrap: wrap;
    }
}
@media (max-width: 767.98px) {
    .galerry__column img{
        width: 280px;
        height: 180px;
    }
    .galerry__column video{
        width: 180px;
    }
}

/* lessons */
.page__create {
    padding-top: 200px;
    padding-bottom: 152px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%),
    url('./images/lessons-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.create__content {
    width: 100%;
    max-width: 1288px;
    padding: 0 24px 0 148px;
}

@media (max-width: 767.98px) {
    .create__content {
        padding: 0 15px 0 15px;
    }
}

@media (max-width: 479.98px) {
    .create__content {
        padding: 0 15px 0 15px;
    }
}

.create__title {
    color: #fef7ee;
    font-family: Roboto Slab, sans-serif;
    font-weight: 600;
    margin-bottom: 48px;
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.page__lessons{
    padding-top: 40px;
    padding-bottom: 10px;
    background-color: #fef7ee;
}

.lessons__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lessons__title{
    font-size: 32px;
    margin-bottom: 30px;
}
.lessons__map{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: center;
}
.map{
    width: 1200px;
    height: 450px;
}

@media (max-width: 899.98px){
    .page__lessons {
        padding-bottom: 40px;
    }
}
@media (max-width: 479.98px) {
    .create__title {
        font-size: 46px;
    }
}

.page__order{
    padding-top: 152px;
}

.order__form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.order__title{
    margin-bottom: 20px;
}

.order__text{
    margin-bottom: 40px;
}
.order__container{
    
}
.order__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.order__image{
    width: 600px;
    height: 400px;
    border-radius: 30px;
    border: 6px solid #683c25;
    margin-top: -110px;
}

.input{
    position: relative;
}
.input__label{
    position: absolute;
}

.input__control{
    padding: 16px 42px;
    width: 400px; /*100%*/
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid #683c25;
    border-radius: 8px;
    background-color: transparent;
    margin-bottom: 20px;
}

input:focus{
    border-color: #c99524;
    outline: none;
}

input::placeholder{
    color: #683c25;
    font-size: 16px;
}

input:focus::placeholder{
    color: #c99524 ;
}

.hide-element{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.contact-section__form-field {
    margin-bottom: 24px;
}

.button{
    display: block;
    padding: 16px 32px;
    color: #fef7ee;
    background-color: #683c25;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: color .3s;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #c99524;
}

.order__agree{
    font-size: 12px;
    margin-bottom: 20px;
}

@media (max-width: 1049.98px) {
    .order__image {
        width: 600px;
        height: 400px;
        border-radius: 30px;
        border: 6px solid #683c25;
        margin-top: 0px;
    }

    .order__content{
        justify-content: center;
    }

    .orders__texts{
        text-align: center;
    }
}
@media (max-width: 549.98px) {
    .order__image {
        display: none;
    }
}
@media (max-width: 479.98px) {
    .input__control{
        padding: 16px 42px;
        width: 280px; 
        font-size: 14px;
    }
    
}